.global-button {
  background-color: lightpink !important;
  padding: 10px;
}

.global-button:disabled {
  background-color: gray !important;
}

.global-textInput {
  border: 1px solid black;
  border-radius: 4px;
}

/*
 * If content is placed within this container, it will have responsive horizontal padding.
 * This means if the content within this container has a width of 100%, it will look good 
 * on screens of all sizes, as this container will make sure there is adequate horizontal padding.
 */

 .responsiveContainer-container {
  margin: auto;
  max-width: 1800px;
  padding-left: 16px;
  padding-right: 16px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s linear 0s infinite normal none running;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  width: 2px;
}

.title {
  background-color: #139576;
  height: 34px;
}

.loading {
  background-color: white;
  height: 18px;
}
/* 
.pill {
  align-items: center;
  column-gap: 2px;
  display: inline-flex;
  height: 40px;
} */

@media only screen and (min-width: 768px) {
  .responsiveContainer-container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .responsiveContainer-container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
